{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANitha Desai birthday</title>
</head>
<body> 

<style> 
    body{
        background-color: cyan;
    }
</style>
    <div class='container'> 


       <center>
		<h2> happy </h2>
		<h2> birthday to you </h2>
		<h1> Anitha Desai  </h1>

		<img src="{% static 'images/an.jpg' %}" width="30%" />
	</center>

    </div>
    
</body>
</html>