{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANitha Desai birthday</title> 
    <link rel="stylesheet" type="text/js" href="{% static 'js/a.js' %}">
</head>
<body> 

<style> 
    body{
        margin: 0;
  overflow: hidden;
        background-color: cyan;
    }
</style>
    <div class='container'> 
       <center>
		<h2> Happy </h2>
		<h2> birthday to you </h2>
		<h1> Anitha Desai  </h1>

		<img src="{% static 'images/an.jpg' %}" width="25%">
        <canvas id="canvas"></canvas>
	</center>

    </div>
    
</body>  
<script src="{% static 'js/a.js' %}" type="text/javascript" ></script>

</html>